
<div class="footer">
    <span class="logo-wrapper">
        <div class="footer-logo">
            <img src="./assets/Logo.png" alt="">
        </div>
        <div class="site-info">
            <p class="site-name">
                <span>eco</span>
                <span>MEDIA</span>
            </p>
            <p class="site-brife">
                Egyptian environmental news platform
            </p>
        </div>
    </span>
    <!-- <div class="news-types">
        <p class="types-title">فئات الاخبار :</p>
        <p class="type">مقالات</p>
        <p class="type">فيديوهات</p>
        <p class="type">بودكاست</p>
    </div>
    <div class="social-media">
        <a href="https://www.facebook.com/share/19m58nMYar/?mibextid=wwXIfr" target="_blank" rel="noopener noreferrer" class="social-btn facebook"><img src="./assets/icons/facebook.png" alt="" srcset=""></a>
        <a href="https://www.instagram.com/ecomedia2025?igsh=MTVkajlwd3Q5M2tm&amp;utm_source=qr" target="_blank" rel="noopener noreferrer" class="social-btn instagram"><img src="./assets/icons/instagram.png" alt="" srcset=""></a>
        <a href="https://www.tiktok.com/@ecomedia3?_t=ZS-8uRZKtSImIc&amp;_r=1" target="_blank" rel="noopener noreferrer" class="social-btn tiktok"><img src="./assets/icons/tiktok.png" alt="" srcset=""></a>
    </div> -->
    <p class="copyright">© 2025 Copyrights Conservation news. eco Media is a E.G.-based  environmental science news platform.</p>
    
</div>