@import url(../../../animations.css);
.parent-container{
    padding: 16px;
    /* animation: opacityAnimation 1s ease-in-out; */
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.searchBox{
    width: 100%;
    display: grid;
    grid-template-columns: calc(100% - 36px) 36px;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

.searchBox input{
    grid-area: 1 / 1 / -1 / -1;
    box-shadow: 0 0 20px 1px rgba(46, 46, 46, 0.2);
    padding: 12px 16px;
    border-radius: 24px;
    font-size: 14px;
}

.searchBox span{
    grid-area: 1 / 2 / -1 / -1;
    width: 100%;
    text-align: center;
    color: gray;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.filters button{
    width: 80px;
    height: 36px;
    border-radius: 24px;
    background-color: rgba(128, 128, 128, 0.25);
    font-family: var(--FF-Rubik);
    transition: all 0.3s ease-in-out;
}

.filters button.active,
.filters button:hover{
    background-color: var(--accent);
}

.content-wrapper {
    width: 100%;
    height: 100%;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.section-one {
    display: grid;
    grid-template-columns: calc(30% - 16px) 70%;
    gap: 16px;
    margin-bottom: 32px;
}

.trending {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}

.trending span {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
}

.trending span app-card-one{
    height: 100%;
}

.trending-title {
    background-color: var(--primary);
    height: 35px;
    border-radius: 8px;
    padding: 8px 16px;
    font-family: var(--FF-Rubik);
    font-weight: 600;
    text-align: center;
}

.section-Two {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 16px;
}

.top-stories {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 16px;
    height: 100%;
    min-height: 200px;

}

.news-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section-title{
    width: 100%;
    text-align: left;
    font-family: var(--FF-OpenSans);
    font-weight: 600;
    font-size: 14;
    padding: 32px 0 16px 0;
    border-top: 1px solid var(--accent);
}

.section-title-2{
    width: 100%;
    text-align: left;
    font-family: var(--FF-OpenSans);
    font-weight: 600;
    font-size: 14;
    padding: 64px 0 16px 0;
    /* border-top: 1px solid var(--accent); */
}

.news-section .brife .title{
    font-family: var(--FF-Rubik);
    font-weight: 600;
    font-size: 32px;
    color: var(--primary);
    margin-bottom: 24px;
}

.news-section .brife .body{
    font-family: var(--FF-Rubik);
    color: var(--primary);
    margin-bottom: 24px;
}

.spacer{
    width: 100%;
    text-align: center;
    grid-area: 1 / 1 / -1 / -1;
    justify-self: center;
    align-self: center;
    font-weight: 600;
    font-size: 24px;
    font-family: var(--FF-Rubik);
}

@media screen AND (max-width: 900px){
    .top-stories {
        grid-template-columns: repeat(2,1fr);
    }

    .section-one {
        grid-template-columns: 1fr;
        grid-template-rows:1fr 100%;
    }

    .trending span{
        flex-direction: row;
    }

    .trending {
        grid-row: -1 / -2;
    }

    .actions {
        flex-direction: column;
    }

    .filters {
        width: 100%;
        flex-wrap: wrap;

    }

    .filters button{
        flex:1;
        width: 100%;
    }
}

@media screen AND (max-width: 600px){
    .top-stories {
        grid-template-columns: repeat(1,1fr);
    }

    .trending span{
        flex-direction: column;
    }

    .section-Two {
        grid-template-columns: 1fr;
    }

    .news-section {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .trending span app-card-one{
        height: 200px;
    }
}