@keyframes rtlAnimation {
    0% {
        /* opacity: 0; */
        right: -50%;
    }
    100% {
        /* opacity: 1; */
        right: 0;

    }
}

@keyframes scaleAnimation {
    0% {
        scale: 0;
        opacity: 0.0;
        
    }
    100% {
        scale: 1;
        opacity: 1;
    }
}

@keyframes opacityAnimation {
    0% {
        scale: 0;
        opacity: 0.0;
    }
    100% {
        scale: 1;
        opacity: 1;
    }
}